/* Change the background color to a light gray */
.sweet-alert {
    background-color: #f5f5f5;
    width: 10vw;
    height: 40vh;
}

/* Change the text color to black */
.sweet-alert h2,.sweet-alert p {
    color: #020202;

    
}

/* Increase font size */
.sweet-alert h2 {
    font-size: 1rem;
    
}

.sweet-alert p {
    font-size: 1rem;
    width: 9rem;
    height: 5rem;
}
/* Adjust the font size */
.sweet-alert h2 {
    font-size: 18px; /* Modify to your desired font size */
}

/* Adjust the OK button size */
.sweet-alert button.confirm {
    padding: 10px 20px; /* Modify padding to change the button size */
}
